.sidebar {
  display: flex;
  min-width: 430px;
  background: #0c0c18;
  border-right: 1px solid rgba(255,255,255,.05);
}

@media (max-width: 1024px) {
  .sidebar {
    width: 100%;
    min-width: 100%;
    flex-direction: column;
    border-right: none;
    border-bottom: 1px solid rgba(255,255,255,.05);
  }
}
